  /* Reset default values */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
  }

  body {
    background-color: #2c3041 !important;
    display: flex;
    flex-direction: column;
  }

  /* Header styling */
  .header {
    align-self: flex-start;
    display: flex;
    padding: 10px 20px 0 10px;
    background-color: rgb(34, 37, 49);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 900;
  }

  /* Logo in header */
  .header__left img {
    width: 70px;
  }

  /* Hamburger menu icon */
  .header__right {
    cursor: pointer;
    font-size: 2.5rem;
    color: #294db9;
    z-index: 10000;
  }

  /* Close menu icon */
  .header__close-icon {
    display: none;
    cursor: pointer;
    font-size: 3rem;
    color: #294db9;
  }

  /* Off-screen menu */
  .header__off-screen-menu {
    background-color: #222531;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 3rem;
    transition: 0.3s ease;
    gap: 10px;
    padding: 100px;
  }

  .header__off-screen-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 45px;
  }

  /* Menu and close icon active state */
  .header__off-screen-menu.active {
    right: 0;
  }

  .header__close-icon.active {
    display: block;
    z-index: 1000;
  }

  /* Hide hamburger icon when menu is active */
  .header__right.hidden {
    display: none;
  }

  /* Space for fixed header */
  .main {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
  }

  .main__title {
    color: #000000;
    font-size: 2.5rem;
    font-weight: 800;
    font-family: Varela;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    gap: 15px;
  }

  .content__title{
    color: #000000;
    font-size: 4vh;
    font-weight: 800;
    margin-bottom: 5px;
  }

  .content__text{
    font-weight: 600;
    margin-bottom: 10px;
  }

  .content__text a{
    color: #6087fa54;
    text-decoration: none;
  }

  .footer{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .footer__social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .footer__social i{
    font-size: 1.5rem;
    color: #000;
  } 

  .footer__text p{
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
  }

  